@font-face {
    font-family: 'RobotoDld';
    src: url('../../fontz/Roboto-Black.ttf') format('woff2');
    /* Puedes incluir múltiples formatos de fuentes para mayor compatibilidad */
    font-weight: normal;
    font-style: normal;
  }

 .asdas {
    color:#1a232d
}